{{#if Discourse.SiteSettings.firehose_active}}
// Code goes here. I am not smart. This is just a little list link to show that something's working
<li><a href="http://southlondonmakerspace.org>SLMS WP</a></li>
{{/if}}
